@model IEnumerable<CoffeeWebsite.Models.ProductSize>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product Sizes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home">Home</a></li>
                    <li class="breadcrumb-item active">Product Sizes</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="card-title">
                            @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-primary" })
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SizeName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifyDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ModifyBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsActive)
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SizeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModifyDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModifyBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductSizeID }, new { @class = "btn btn-warning" }) 
                                            @Html.ActionLink("Details", "Details", new { id = item.ProductSizeID }, new { @class = "btn btn-info" }) 
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductSizeID }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>