@model CoffeeWebsite.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home">Home</a></li>
                    <li class="breadcrumb-item active">Product</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="card-title">
                            Details
                        </div>
                    </div>
                    <div class="card-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Discount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Discount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.image)
                            </dt>

                            <dd>
                                <img src="@Model.image" width="100" />
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifyDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifyDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ModifyBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ModifyBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsActive)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ProductCategory.CateName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductCategory.CateName)
                            </dd>

                            @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                        </dl>
                    </div>
                    ><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section